#book{
    border: 5px solid red;
    width: 300px;
    height: 400px;
    background-color: white;


}
button{
    height: 60px;
    width: 100px;
    font-size: 20px;
    background-color: chartreuse;
    color: black;

}
span{
    font-size: 30px;
    
}